<html>
<head><link href="../stylesheets/about.css" rel="stylesheet" type="text/css" /></head>
<body class="no-bg-body">
  <header><%= link_to 'Rachael Salter', 'index.html' %></header>
    <div class="container-fluid"> 
    <div class="row">
      <div class="col-md-9 hidden-sm hidden-xs navb">
        <%= link_to 'Portfolio', 'portfolio.html' %>
        <%= link_to 'Resume', 'docs/rsalter.resume.pdf', :target => "_blank" %></div>
      <div class="icons col-md-3 hidden-xs hidden-sm">
      <a href="https://github.com/rachaelsalter" target="_blank"><i class="fa fa-github fa-2x"></i></a>
     <a href="https://twitter.com/rachaelsalter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/rasalter" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="mailto:rasalter@gmail.com"><i class="fa fa-envelope fa-2x"></i></a></div>
 </div>   
   <h3>.</h3>
   <div class="container-fluid">
   	<div class="row">

	<div class="col-md-5 hidden-sm hidden-xs about-img">
   	<%= image_tag 'rachael_painting.jpg' %></div>

   <div class="col-md-7 col-sm-12 about-p">
   <h6>About Me</h6>
   I am a graduate of the <%= link_to 'FirehoseProject', 'http://www.thefirehoseproject.com/' %>, an online apprenticeship program that teaches full-stack web development. During my studies, I learned how to build web applications using the Ruby on Rails framework while focusing on fundamental computer programming concepts, algorithms, and data structures. 
   <br /><br />
   My passion began many years ago with web design and evolved into a curiosity for how to "build stuff”. I love being immersed in the programming world and am seeking a Web Developer opportunity. I am dedicated to learning my craft and would love to contribute to a team while building upon my current skill set. 
   <br /><br />
   When I am not committing to git, I enjoy adventure, diy projects, making avocado smoothies and of course, the beach. I am new to the San Diego area and am looking forward to making my mark. 
</div>

 </div>
</div>
</body>
</html>






