<html>
<head><link href="../stylesheets/about.css" rel="stylesheet" type="text/css" /></head>
<body class="color-bg-2">
  <header><%= link_to 'Rachael Salter', 'index.html' %></header>
  <div class="container-fluid"> 
  <div class="row">
    <div class="col-md-9 hidden-sm hidden-xs navb">
      <%= link_to 'About', 'about.html' %>
      <%= link_to 'Resume', 'docs/rsalter.resume.pdf', :target => "_blank" %></div>
    <div class="icons col-md-3 hidden-sm hidden-xs">
      <a href="https://github.com/rachaelsalter" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://twitter.com/rachaelsalter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/rasalter" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="mailto:rasalter@gmail.com"><i class="fa fa-envelope fa-2x"></i></a></div>
 </div>
  <div class="title">Portfolio</h3>

  <div class="clearfix"></div>

  <div class="container-fluid">
    <div class="row-margin">
      <div class="col-md-6 col-sm-12 app-img-l">
       <a href="https://splurty-rachael-salter.herokuapp.com" target="_blank"><%= image_tag 'iphone-RWM.png' %></a></div>
    </div>

      <div class="col-md-6 col-sm-12 about-r">
        <h6><a href="https://splurty-rachael-salter.herokuapp.com/" target="_blank">Real World Marraige</a></h6>
        <strong><em>Full Stack, Ruby on Rails</em></strong></br></br>
        A quote generating web app written with HTML, CSS3 and Ruby code on the Rails framework. The design is mobile-first and is with built professional web development tools: Sublime, Terminal, PostgreSQL, GitHub and Heroku. I completed this app as a student with The Firehose Project.</div> 
    

    <div class="clearfix"></div>

    <div class="row-margin">
       <div class="col-md-5 col-md-offset-1 col-sm-12 app-img-r">
        <a href="https://nomster-rachael-salter.herokuapp.com" target="_blank"><%= image_tag 'macbook_wineries_go.png' %></a></div>
    </div>

       <div class="col-md-6 col-sm-12 about-l">
        <h6><a href="https://nomster-rachael-salter.herokuapp.com" target="_blank">Wineries Go</a></h6>
        <strong><em>Full Stack, Ruby on Rails</em></strong></br></br>
        A business review web app integrated with the Google Maps API which  transforms addresses into coordinates and place pins on maps. Other features include user authentication and dashboard, star rating system, automated email notifications and user comment features. I completed this app as a student with The Firehose Project.<br></br>
        Test User: appmail.rs@gmail.com<br>
        Password: password</div>
    
    <div class="clearfix"></div>

    <div class="row-margin">
       <div class="col-md-5 col-md-offset-1 col-sm-12 app-img-r">
        <a href="http://nulookimprovements.com/" target="_blank"><%= image_tag 'imac_nulook.png' %></a></div>
    </div>
       <div class="col-md-6 col-sm-12 about-l">
        <h6><a href="http://nulookimprovements.com/" target="_blank">NuLook Improvements</a></h6>
        <strong><em>WordPress</em></strong></br></br>
        As Lead Developer I led the redesign of home improvement company website NuLookImprovements.com. WordPress theme selection, installation and customization using HTML & CSS; Created custom web banners with Slider Revolution plugin.  <br></br></div>
        
       <div class="clearfix"></div>

    <div class="row-margin">
       <div class="col-md-5 col-md-offset-1 col-sm-12 app-img-r">
        <a href="http://elkinspark.net/" target="_blank"><%= image_tag 'ipad_ep.png' %></a></div>
    </div>
       <div class="col-md-6 col-sm-12 about-l">
        <h6><a href="http://elkinspark.net/" target="_blank">ElkinsPark.net</a></h6>
        <strong><em>WordPress</em></strong></br></br>
        As Developer and Project Manager I led the development of local business and event portal ElkinsPark.net. WordPress theme selection, installation and customization using HTML & CSS; Created website graphics with Photoshop; Installed various plugins such as pricing table, social media and email marketing.<br></br>
        Test User: appmail.rs@gmail.com<br>
        Password: password</div>

        <div class="clearfix"></div>
 
    <div class="row-margin">
       <div class="col-md-5 col-md-offset-1 col-sm-12 app-img-r">
        <a href="http://davidsean.co/" target="_blank"><%= image_tag 'macbook_ds.png' %></a></div>
    </div>
       <div class="col-md-6 col-sm-12 about-l">
        <h6><a href="http://davidsean.co/" target="_blank">David Sean, Personal Trainer</a></h6>
        <strong><em>WordPress, Freelance</em></strong></br></br>
        As a freelancer I worked with client, David Sean, to update features of his WordPress website. I created a new internal testimonials page and re-arranged the testimonials position on the homepage. New "Before / After" images were created with Photoshop. The blog layout was changed to display his posts in more detail and a new Instagram widget was installed to allow for larger images.</div>

        <div class="clearfix"></div>

    <div class="row-margin">
       <div class="col-md-5 col-md-offset-1 col-sm-12 app-img-r">
        <a href="http://rockystreeservice.com/" target="_blank"><%= image_tag 'imac_rockys.png' %></a></div>
    </div>
       <div class="col-md-6 col-sm-12 about-l">
        <h6><a href="http://rockystreeservice.com/" target="_blank">Rocky's Tree Service</a></h6>
        <strong><em>WordPress</em></strong></br></br>
        As Developer and Project Manager I led the development of business website and launch of startup Rocky's Tree service. WordPress theme selection, installation and customization using HTML & CSS; Image selection and editing with Photoshop.</div>

     <div class="clearfix"></div>

    <div class="row-margin">
       <div class="col-md-6 about-l">
        </div>
    </div>

  </div>
</body>
</html>






