<html>
<head><link href="../stylesheets/about.css" rel="stylesheet" type="text/css" /></head>
<body class="color-bg">
  <header><%= link_to 'Rachael Salter', 'index.html' %></header>

  <div class="container-fluid"> 
  <div class="row">
    <div class="col-xs-9 navb">
      <%= link_to 'Blog', 'blog.html' %>
        <%= link_to 'Resume', 'docs/rsalter.resume.pdf' %></div>
    <div class="icons col-xs-3">
      <a href="https://github.com/rachaelsalter"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://twitter.com/rachaelsalter"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/rasalter"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="mailto:rasalter@gmail.com"><i class="fa fa-envelope fa-2x"></i></a></div>
 </div>
  <div class="title">Portfolio</h3>

  <div class="clearfix"></div>

  <div class="container-fluid">
    <div class="row-margin">
      <div class="col-md-5 col-md-offset-1 app-img-l">
       <a href="https://splurty-rachael-salter.herokuapp.com" target="_blank"><%= image_tag 'iphone-RWM.png' %></a>

       </div>
    </div>

      <div class="col-md-6 about-r">
        <h6>Real World Marraige App</h6>
        Text here....apprenticeship  program that teaches full-stack  web development. We build web applications using the Ruby  on Rails framework while focusing on fundamental computer   programming concepts, algorithms, and data structures.Text here....apprenticeship  program that teaches full-stack web   development. We build web  applications using the Ruby on Rails   framework while focusing on   fundamental computer programming  concepts, algorithms, and data   structures.</div> 
    </div>  

    <div class="clearfix"></div>

    <div class="row-margin">
       <div class="col-md-6 about-l">
        <h6>Wineries Go</h6>
        Text here....apprenticeship  program that teaches full-stack web   development. We build web  applications using the Ruby on Rails   framework while focusing on   fundamental computer programming  concepts, algorithms, and data   structures.Text here....apprenticeship  program that teaches full-stack web   development. We build web  applications using the Ruby on Rails   framework while focusing on   fundamental computer programming  concepts, algorithms, and data   structures.</div>
      <div class="col-md-5 col-md-offset-1 app-img-r">
        <a href="https://nomster-rachael-salter.herokuapp.com" target="_blank"><%= image_tag 'macbook_wineries_go.png' %></div>
    </div>
    
    <div class="clearfix"></div>

    <div class="row-margin">
       <div class="col-md-6 about-l">
        </div>
    </div>

  </div>
</body>
</html>






